{{yield (hash onEvent=(action 'onEvent'))}}

{{#each messages as |message|}}
	<div class="alert alert-{{if (eq message.state 'failed') 'danger' 'success'}}" role="alert">{{message.title}}</div>
{{/each}}
