@import 'ember-paper';

$dark: #002b36;
$light: #073642;
$text: #93a1a1;

html, body, body > .ember-view, .full-height {
  height: 100%;
}

.half-height {
  height: 50%;
}

.full-width {
  width: 100%;
}

.scroll {
  overflow-y: scroll;
}

md-toolbar {
  background-color: $dark !important;
}

md-content, md-sidenav {
  background-color: $light !important;
}

@media (min-width: 960px) {
  md-backdrop {
    display: none;
  }
}

md-sidenav {
  width: 250px;

  &.md-closed.md-locked-open {
    display: none !important;
  }
  &.md-locked-open {
    display: flex !important;
  }
}

#kata-description {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-bottom: 2px inset $light;

  * {
    max-width: 100%;
  }
}

#codemirror-editor {
  align-self: flex-start;
  padding: 0;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-left: 2px outset $light;

  .CodeMirror {
    @extend .full-height;
  }

  md-menu {
    md-icon {
      color: $text;
    }
  }
}

.code {
  font-family:Courier;
  font-weight: 600;
  padding-top: 10px;
}

#kata-output {
  background-color: $dark;
  overflow-y: scroll;

  ul {
    list-style: none;
    padding-bottom: 100px;

    li {
      @extend .code;

      &.code-success{
        color: green;
      }

      &.code-danger{
        color: red;
      }
    }
  }
}

.transition {
  -webkit-transition: all 0.4s !important;
  -moz-transition: all 0.4s !important;
  -o-transition: all 0.4s !important;
  transition: all 0.4s !important;
}

iframe {
  border: none;
  display: none;
}

#mocha {
  margin: 0;
}

#mocha-stats {
  position: relative;
  top: 0;
}
