{{#paper-sidenav-container class="inner-sidenav full-height"}}
	{{!-- menu --}}
	{{#paper-sidenav class="md-whiteframe-z2" name="left" open=leftSideBarOpen onToggle=(action (mut leftSideBarOpen)) }}
		{{!-- title --}}
		{{#paper-toolbar as |toolbar|}}
			{{#paper-toolbar-tools}}Katas{{/paper-toolbar-tools}}
		{{/paper-toolbar}}
		{{!-- items --}}
		{{#paper-content padding=true}}
			{{#link-to 'index'}}Home{{/link-to}}
		{{/paper-content}}
		<ul>
			{{#each model as |kata|}}
				{{menu-kata-item kata=kata}}
			{{/each}}
		</ul>
	{{/paper-sidenav}}

	{{!-- page content --}}
	{{#paper-card-content class="flex"}}
		{{!-- navbar --}}
		{{#paper-toolbar as |toolbar|}}
			{{#toolbar.tools}}
				{{!-- menu button --}}
				{{#paper-button iconButton=true onClick=(action 'toggleMenu')}}
					{{paper-icon "menu"}}
				{{/paper-button}}
				{{!-- title --}}
				<h2>EcmaScript Workshop</h2>
				{{!-- separator --}}
				<span class="flex"></span>
				{{!-- buttons --}}
				<div id="toolbar-buttons">
					{{!-- wormhole container --}}
				</div>
			{{/toolbar.tools}}
		{{/paper-toolbar}}

		<div class="layout-fill layout-align-start-center layout-column full-height">
			{{outlet}}
		</div>
	{{/paper-card-content}}
{{/paper-sidenav-container}}
